_build/
dist/db
*.byte
*.native
*.bak
*.install
*.merlin
tmp
dist/backend
dist/config.json

# Ignore .css and related files except some external ones
.sass-cache/*
dist/resources/css/*.map
dist/resources/css/*.css
!dist/resources/css/normalize.css
!dist/resources/css/icon.css

# Ignore .js files except some external ones 
dist/resources/js/*.js
!dist/resources/js/moment.min.js
!dist/resources/js/chartjs-plugin-deferred.min.js
!dist/resources/js/chartjs-plugin-streaming.min.js
!dist/resources/js/chartjs-plugin-datalabels.min.js
!dist/resources/js/Chart.min.js
!dist/resources/js/adapter.min.js
!dist/resources/js/ResizeObserver.js